<html
    xmlns:sg="http://typo3.org/ns/MoveElevator/Styleguide/ViewHelpers"
    xmlns:f="http://www.w3.org/1999/XSL/Transform"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="typo3styleguide_element_css"
             href="EXT:typo3_styleguide/Resources/Public/Css/Patterns.css"/>

<div class="typo3-styleguide__frame">
    <div class="typo3-styleguide__element-container">
        <f:for each="{templates}" as="template">
            <div class="typo3-styleguide__element">
                <div class="typo3-styleguide__template">
                    <sg:renderTemplate file="{template}"/>
                </div>
            </div>
        </f:for>
    </div>
</div>
